

<!-- th:with="userCredentials=${new UserCredentials()}"-->


<form action="/reset" method="get" id="reset-button-container" class="container justify-content-between">
    <h2 id="about-header" th:text="${strings.colorform_header}"></h2>
    <button id="submit-button3" th:utext="${strings.reset}" class="btn blue-full-button"></button>
</form>


<form id="colors-form" class="container" th:action="@{/colors}" th:object="${formSettingsDto}" method="post">

    <div class="row">
        <div class="form-floating">
            <select class="form-select" id="indent-select" th:field="*{shape}">
                <option th:each="shape : ${T(com.polydus.eschergen.d3.Shape).values()}"
                        th:value="${shape}" th:text="${strings[shape.name]}"></option>
            </select>
            <label for="indent-select" th:utext="${strings.shape}"></label>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col color-select" th:each="color,iterStat : *{fixedColors}" th:id="|fixedcolor-select-${iterStat.index}|">
            <input type="checkbox" class="checkbox-close fas fa-times" th:id="|fixedcolor-check-${iterStat.index}|"
                   th:field="${formSettingsDto.fixedColors[__${iterStat.index}__].inUse}"
                   th:checked="${color.inUse}" />
        </div>
        <button id="colors-form-coloradd" type="button" class="col btn border-dark">
            <i class="fas fa-plus"></i>
        </button>
    </div>

    <div class="row">
        <div class="col form-floating hrgb-input" id="hexcode-input-container">
            <input type="text" class="form-control" id="hexcode-input" placeholder="#ff00ff">
            <label for="hexcode-input" class="text-ellipsis" th:text="${strings.hex_label}"></label>
        </div>

        <div class="btn-group col" role="group">
            <input type="radio" class="form-update btn-check" th:field="*{colorSetting}" th:value="${0}" id="color-setting-status-0" th:checked="*{colorSetting} == 0">
            <label class="btn blue-button" for="color-setting-status-0">RGB</label>

            <input type="radio" class="form-update btn-check" th:field="*{colorSetting}" th:value="${1}" id="color-setting-status-1"  th:checked="*{colorSetting} == 1">
            <label class="btn blue-button" for="color-setting-status-1">HSL</label>
        </div>
    </div>

    <div class="row">
        <div class="col form-floating hrgb-input" id="r-input-container">
            <input type="text" class="form-control" id="r-input" placeholder="100">
            <label for="r-input" class="text-ellipsis" id="r-input-label" th:text="${strings.red_label}"></label>
        </div>

        <div class="col">
            <div class="col-form-label-container">
                <div id="colors-form-hue-label" class="col-form-label col-form-title-label text-ellipsis" th:text="${strings.hue_label}"></div>
                <div id="colors-form-hue-value" class="col-form-label col-form-value-label"></div>
            </div>
            <div class=""  th:each="color,iterStat : *{fixedColors}"
                 th:value="${color}" th:id="|colors-form-hue-container-${iterStat.index}|">
                <input type="range" th:id="|colors-form-hue-range-${iterStat.index}|" class="form-update form-range form-range-hue"
                       th:field="${formSettingsDto.fixedColors[__${iterStat.index}__].hue}"
                       th:value="${color.hue}"
                       min="0" max="360" step="1.0">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col form-floating hrgb-input" id="g-input-container">
            <input type="text" class="form-control" id="g-input" placeholder="100">
            <label for="g-input" class="text-ellipsis" id="g-input-label" th:text="${strings.green_label}"></label>
        </div>
        <div class="col">
            <div class="col-form-label-container">
                <div id="colors-form-saturation-label" class="col-form-label col-form-title-label text-ellipsis" th:text="${strings.saturation_label}"></div>
                <div id="colors-form-saturation-value" class="col-form-label col-form-value-label"></div>
            </div>
            <div class=""  th:each="color,iterStat : *{fixedColors}"
                 th:value="${color}" th:id="|colors-form-saturation-container-${iterStat.index}|">

                <input type="range" th:id="|colors-form-saturation-range-${iterStat.index}|" class="form-update form-range form-range-saturation"
                       th:field="${formSettingsDto.fixedColors[__${iterStat.index}__].saturation}"
                       th:value="${color.saturation}"
                       min="0" max="255" step="1.0">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col form-floating hrgb-input" id="b-input-container">
            <input type="text" class="form-control" id="b-input" placeholder="100">
            <label for="b-input" class="text-ellipsis" id="b-input-label" th:text="${strings.blue_label}"></label>
        </div>
        <div class="col">
            <div class="col-form-label-container">
                <div id="colors-form-lightness-label" class="col-form-label col-form-title-label text-ellipsis" th:text="${strings.lightness_label}"></div>
                <div id="colors-form-lightness-value" class="col-form-label col-form-value-label"></div>
            </div>
            <div class=""  th:each="color,iterStat : *{fixedColors}"
                 th:value="${color}" th:id="|colors-form-lightness-container-${iterStat.index}|">

                <input type="range" th:id="|colors-form-lightness-range-${iterStat.index}|" class="form-update form-range form-range-lightness"
                       th:field="${formSettingsDto.fixedColors[__${iterStat.index}__].lightness}"
                       th:value="${color.lightness}"
                       min="0" max="255" step="1.0">
            </div>
        </div>
    </div>


    <div class="submit-button-container">
        <button type="submit" id="submit-button2" th:utext="${strings.submit}" class="btn blue-full-button"></button>
    </div>

</form>

<!--


    <div class="row">


<div class="row">
    <div class="col color-select" th:each="color,iterStat : *{fixedColors}" th:id="|fixedcolor-select-${iterStat.index}|">
        <input type="checkbox" class="checkbox-close fas fa-times" th:id="|fixedcolor-check-${iterStat.index}|"
               th:field="${formSettingsDto.fixedColors[__${iterStat.index}__].inUse}"
               th:checked="${color.inUse}" />
    </div>

    <button id="colors-form-coloradd" type="button" class="col btn border-dark">
        <i class="fas fa-plus"></i>
    </button>
</div>

<div class="row">
    <div class="btn-group" role="group">
        <input type="radio" class="form-update btn-check" th:field="*{colorSetting}" th:value="${0}" id="color-setting-status-0" th:checked="*{colorSetting} == 0">
        <label class="btn blue-button" for="color-setting-status-0">RGB</label>

        <input type="radio" class="form-update btn-check" th:field="*{colorSetting}" th:value="${1}" id="color-setting-status-1"  th:checked="*{colorSetting} == 1">
        <label class="btn blue-button" for="color-setting-status-1">HSL</label>
    </div>
</div>


<div class="row">
    <div class="col form-floating" id="hexcode-input-container">
        <input type="text" class="form-control" id="hexcode-input" placeholder="#ff00ff">
        <label for="hexcode-input" class="text-ellipsis" th:text="${strings.hex_label}"></label>
    </div>

    <div class="col form-floating rgb-input" id="r-input-container">
        <input type="text" class="form-control" id="r-input" placeholder="100">
        <label for="r-input" class="text-ellipsis" id="r-input-label" th:text="${strings.red_label}"></label>
    </div>
    <div class="col form-floating rgb-input" id="g-input-container">
        <input type="text" class="form-control" id="g-input" placeholder="100">
        <label for="g-input" class="text-ellipsis" id="g-input-label" th:text="${strings.green_label}"></label>
    </div>
    <div class="col form-floating rgb-input" id="b-input-container">
        <input type="text" class="form-control" id="b-input" placeholder="100">
        <label for="b-input" class="text-ellipsis" id="b-input-label" th:text="${strings.blue_label}"></label>
    </div>

</div>

<div class="row">
    <div class="col-form-label-container">
        <div id="colors-form-hue-label" class="col-form-label col-form-title-label text-ellipsis" th:text="${strings.hue_label}"></div>
        <div id="colors-form-hue-value" class="col-form-label col-form-value-label"></div>
    </div>
    <div class=""  th:each="color,iterStat : *{fixedColors}"
         th:value="${color}" th:id="|colors-form-hue-container-${iterStat.index}|">
        <input type="range" th:id="|colors-form-hue-range-${iterStat.index}|" class="form-update form-range form-range-hue"
               th:field="${formSettingsDto.fixedColors[__${iterStat.index}__].hue}"
               th:value="${color.hue}"
               min="0" max="360" step="1.0">
    </div>
</div>

<div class="row">
    <div class="col-form-label-container">
        <div id="colors-form-saturation-label" class="col-form-label col-form-title-label text-ellipsis" th:text="${strings.saturation_label}"></div>
        <div id="colors-form-saturation-value" class="col-form-label col-form-value-label"></div>
    </div>
    <div class=""  th:each="color,iterStat : *{fixedColors}"
         th:value="${color}" th:id="|colors-form-saturation-container-${iterStat.index}|">

        <input type="range" th:id="|colors-form-saturation-range-${iterStat.index}|" class="form-update form-range form-range-saturation"
               th:field="${formSettingsDto.fixedColors[__${iterStat.index}__].saturation}"
               th:value="${color.saturation}"
               min="0" max="255" step="1.0">
    </div>
</div>

<div class="row">
    <div class="col-form-label-container">
        <div id="colors-form-lightness-label" class="col-form-label col-form-title-label text-ellipsis" th:text="${strings.lightness_label}"></div>
        <div id="colors-form-lightness-value" class="col-form-label col-form-value-label"></div>
    </div>
    <div class=""  th:each="color,iterStat : *{fixedColors}"
         th:value="${color}" th:id="|colors-form-lightness-container-${iterStat.index}|">

        <input type="range" th:id="|colors-form-lightness-range-${iterStat.index}|" class="form-update form-range form-range-lightness"
               th:field="${formSettingsDto.fixedColors[__${iterStat.index}__].lightness}"
               th:value="${color.lightness}"
               min="0" max="255" step="1.0">
    </div>
</div>
</div>






-->