html {
    height: 100%;
}

body {
   font-family: Roboto, -apple-system,BlinkMacSystemFont, "Segoe UI",Roboto,
    "Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  text-shadow: 0px 1px rgba(33, 33, 33, 0.1);
  background-color: #424242;
  /*min-height: 100%;*/
}

.navbar-brand {
    width: auto;
}

.header-title{
    width: max-content;
    margin: 0;
    padding: 0;
    align-self: center;
    color: #fff;
}

.header-title-sm {
    text-align: center;
}

.blog-header-buttons-container {
    width: max-content;
    max-width: max-content;
    min-width: max-content;
}

.title-container {
    margin: 1rem 0;
}

.title-container > h1{
    padding: 0;
    margin: 0;
}}

#canvas {
    padding: 0;
}

#canvas-row{
    margin: 0;
}

.canvas-container{
   padding: 0;
}

.value-desc {
    margin: 0;
    margin-left: .2rem;
    text-align: center;
    line-height: 48px;
}

#canvas-controls{
    margin: 0;
    background-color: #2196F3;
    color: #fff;
    border-top: 1px solid #1976D2;
    border-bottom: 1px solid #1976D2;
}


.canvas-controls-col{
    max-width: max-content;
    min-width: max-content;
    padding: 0;
    border-bottom: 1px solid #1976D2;
    margin-bottom: -1px;
    border-top: 1px solid #1976D2;
    margin-top: -1px;
}

.canvas-controls-border-right {
    border-right: solid 1px #1976D2;
    /*border-right: solid 1px #1976D2;*/
    margin-right: -1px;
}

.canvas-controls-border-left {
    border-left: solid 1px #1976D2;
    border-top: 0;
    margin-top: 0;
}

.canvas-option{
    /*width: 100%;*/
    justify-content: center;
    display: flex;
    margin: 0rem 0;
    width: min-content;
    flex: unset;
    padding: 0 10px;
}

.canvas-option > a{
    padding: 0;
}

#about-button {
    width: 52px;
}

#title-sm-container{
    background-color: #2196F3;
    margin: 0;
    padding: 0px;
    padding-bottom: 24px;
    color: #fff;
}
#title-sm-container > h3{
    margin: 0;
    padding: 0px;
}

.row > #canvas{
    padding: 0;
}

.noradius-left{
    border-top-left-radius: 0rem;
}

.row {
    margin: 1rem;
}

#container-about {
  background-color: #eee;
  padding: 1rem;
}

#color-form-collapse{
  background-color: #eee;
}

#about-collapse{
  background-color: #eee;
}

/*
FORM
*/

#reset-button-container{
    padding-top: 1rem;
    /*justify-content: end;*/
    display: flex;
}

#colors-form {
    background-color: #eee;
    padding: 1rem;
    padding-top: 0;
}

.color-example {
    height: 1rem;
    border-radius: .25rem;
    background-color: #333;
}

#settings-form{
    margin-bottom: 2rem;
}

.submit-button-container{
    width: 100%;
    justify-content: center;
    display: flex;
    margin: 0;
}


.form-floating > label {
    margin-left: 12px;
}

.form-range {
    height: 100%;
}


.form-range-hue::-moz-range-track{
    background: linear-gradient(to right, red 0%, #ff0 17%, lime 33%, cyan 50%, blue 66%, #f0f 83%, red 100%);
}
.form-range-hue::-webkit-slider-runnable-track {
    background: linear-gradient(to right, red 0%, #ff0 17%, lime 33%, cyan 50%, blue 66%, #f0f 83%, red 100%);
}
.form-range-hue::-ms-track {
    background: linear-gradient(to right, red 0%, #ff0 17%, lime 33%, cyan 50%, blue 66%, #f0f 83%, red 100%);
}
.form-range-lightness::-moz-range-track{
    background: linear-gradient(to right, rgba(0,0,0,1) 0%, rgba(255,255,255,1) 100%);
}
.form-range-lightness::-webkit-slider-runnable-track {
    background: linear-gradient(to right, rgba(0,0,0,1) 0%, rgba(255,255,255,1) 100%);
}
.form-range-lightness::-ms-track {
    background: linear-gradient(to right, rgba(0,0,0,1) 0%, rgba(255,255,255,1) 100%);
}


.form-range-red::-moz-range-track{
    background: linear-gradient(to right, rgba(0,0,0,1) 0%, rgba(255,0,0,1) 100%);
}
.form-range-red::-webkit-slider-runnable-track {
    background: linear-gradient(to right, rgba(0,0,0,1) 0%, rgba(255,0,0,1) 100%);
}
.form-range-red::-ms-track {
    background: linear-gradient(to right, rgba(0,0,0,1) 0%, rgba(255,0,0,1) 100%);
}
.form-range-green::-moz-range-track{
    background: linear-gradient(to right, rgba(0,0,0,1) 0%, rgba(0,255,0,1) 100%);
}
.form-range-green::-webkit-slider-runnable-track {
    background: linear-gradient(to right, rgba(0,0,0,1) 0%, rgba(0,255,0,1) 100%);
}
.form-range-green::-ms-track {
    background: linear-gradient(to right, rgba(0,0,0,1) 0%, rgba(0,255,0,1) 100%);
}
.form-range-blue::-moz-range-track{
    background: linear-gradient(to right, rgba(0,0,0,1) 0%, rgba(0,0,255,1) 100%);
}
.form-range-blue::-webkit-slider-runnable-track {
    background: linear-gradient(to right, rgba(0,0,0,1) 0%, rgba(0,0,255,1) 100%);
}
.form-range-blue::-ms-track {
    background: linear-gradient(to right, rgba(0,0,0,1) 0%, rgba(0,0,255,1) 100%);
}




.form-range::-moz-range-thumb {
    background-color: #424242;
}
.form-range::-webkit-slider-thumb {
    background-color: #424242;
}
.form-range::-ms-thumb {
    background-color: #424242;
}

.col-form-label {
    width: auto;
}

.col-form-title-label{
    width: 48%;
}

.col-form-value-label{
    flex-grow: 1;
}

.col-form-label-container{
    display: flex;
}

.color-select {
    height: 4rem;
    min-width: 4rem;
    max-width: 4rem;
    margin: .5rem 1rem;
    /*margin-top: .5rem;*/
    /*border: 1rem solid #eee;*/
    border-radius: .25rem;
    padding: 0;
}

.color-select-active {
    /*border: 0.25rem solid #eee;*/
    height: 5rem;
    min-width: 5rem;
    max-width: 5rem;
    /*margin: .25rem 1rem;*/
    margin: 0rem;
}

.blue-button {
    color: #2196F3;
    border-color: #2196F3;
    padding: 1rem 0;
}

.blue-button:hover {
    color: #fff;
}

.btn-check:checked + .blue-button{
    color: #fff;
    background-color: #2196F3;
    border-color: #2196F3;
}

.blue-full-button {
    color: #fff;
    background-color: #2196F3;
    border-color: #2196F3;
}
.blue-full-button:hover {
    background-color: #2196F3;
    border-color: #2196F3;
    color: #fff;
}

#hexcode-input-container{
    width: 8rem;
    margin-left: auto;
}

#b-input-container {
    margin-right: auto;
}

.hrgb-input {
    width: 8rem;
    max-width: 8rem;
}

#colors-form-coloradd {
    /*margin-left: 1rem;*/
    margin: .5rem 1rem;
    height: 4rem;
    min-width: 4rem;
    max-width: 4rem;
    font-size: 1.5rem;
}

.text-ellipsis {
    text-overflow: ellipsis;
    overflow: hidden;
}

/*
checkbox
*/

.checkbox-close {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

   /* width: inherit;
    height: inherit;
    justify-content: right;
        line-height: 2rem;
    */
    display: flex;
    width: 1.5rem;
    height: 1rem;
    margin-left: auto;
}

.fa-times::before {
    /*margin-top: -.25rem;
    margin-right: -.25rem;*/
  /*background-color: green;*/
    font-size: 1.5rem;
    height: 1.5rem;
    width: 1.5rem;
    text-align: center;
}


.border-dark{
    border: 1px solid #424242;
    border-radius: .25rem;
}

.border-dark-squaretop{
    border: 1px solid #424242;
    border-radius: .25rem;
    border-top-left-radius: 0rem;
    border-top-right-radius: 0rem;
}

#locales {
    background-color: unset;
    border-color: #424242;
}

#locales::after {
    color: #424242;
}

.locale-text{
    margin-left: .5rem;
}

#about-header{
    height: max-content;
    margin: auto 0;
}


/*
FOOTER
*/

.footer {
    padding: 2.5rem 0;
    text-align: center;
    background-color: #424242;
    border-top: 0px solid #795548;
    font-size: 1.5rem;
    min-width: 100%;
    margin-top: auto!important;
    border-top: 1px solid #f6bd31;
}

#polydus-copyright {
    width: 100%;
}

.blog-header {
    background-color: #2196F3;
    padding: 0rem;
}

.min-width-300px {
    min-width: 300px;
}

.row-justify-center {
    justify-content: center;
}

/*
  * A
  */

.anchor-header{
  font-size: 2rem;
  padding: 0px 0.5rem;
}

.anchor-black {
  color: #f6bd31;
}

.anchor-black:hover,
.anchor-header:focus {
  color: #ffffff;
}


a {
    color: #2196F3;
    text-decoration: none;
}

a:hover,
a:focus{
    color: #1976D2;
    text-decoration: underline;
}

a.active {
    color: #2196F3;
    text-decoration: none;
}
a.active:hover,
a.active:focus {
    color: #1976D2;
    text-decoration: underline;
}

.nomargin {
    margin: 0;
}

.margin1rem {
    margin: 1rem;
}

.nomargintop {
    margin-top: 0;
}

.nomarginbottom {
    margin-bottom: 0;
}

.autowidth {
    width: auto;
}

.background-color-selected {
  background-color: #64B5F6;
}